body {
    background-color: black;
  }
  
  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .tab img {
    width: 50%;
    height: auto;
  }
  
  .centered {
    color: red;
    font-size: 2em;
    margin: 1em;
  }
  
  .centered:nth-child(2) {
    font-size: 5em;
  }
  @media (max-width:768px){
      .container{
        flex-direction: column;
        align-items: center;
      }
      .quadrado{
          width: 95%;
          margin-bottom: 10px;
      }

  }
